:root{
    --primary:#4f46e5;

    __bg:#f1f5f9;
    --card:#ffffff;
   

}
body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background:var(--bg);
    margin:0;
    background:linear-gradient(90deg,lightblue,lightpink,lightblue);
  
}
img{
    height:25px;
}
.container{
    max-width:400px;
    margin:auto;
    padding: 20px;
}
.card{
    background:var(--card);
    border-radius:15px;
    padding: 15px;
    margin-bottom: 15px;
    box-shadow:0 8px 15px rgba(49, 162, 182, 0.664);
}
#balance{
    
    color:rgb(241, 228, 43);
    
}
.summary{
    display:flex;
    justify-content:space-between;
    margin-top:10px;
}
#income{
    color:green;
    margin:auto;
}
#expense{
    color:red;
    margin:auto;
}
.des{
    width:90%;
}
.amo{
    width:90%;
}
#type{
    width:96%;
}
.adding{
    width:96%;
}
.delete{
    margin-left:auto;
    cursor: pointer;
    color: red;
}
.adding:hover{
    color:rgb(216, 69, 69);
    border:1px solid black;
}
input,select{
    width:100%;
    padding:10px;
    margin-top:10px;
    border-radius:10px;
    border:1px solid #ddd;
}
button{
    width:100%;
    padding:12px;
    margin-top:10px;
    background:var(--primary);
    color:white;
    border:none;
    border-radius:10px;
    cursor:pointer;

}
.item{
    display:flex;
 
    margin-top:10px;
    border-radius:10px;
   

}
